VITE_FIREBASE_API_KEY=AIza...
VITE_FIREBASE_AUTH_DOMAIN=chrono-vision-6...
VITE_FIREBASE_PROJECT_ID=chrono-vision-...
VITE_FIREBASE_STORAGE_BUCKET=chrono-vision...
VITE_FIREBASE_MESSAGING_SENDER_ID=1067...
VITE_FIREBASE_APP_ID=1:1067...
VITE_USE_MOCK_API=false
VITE_API_BASE_URL=http://localhost:8000
